* {
    box-sizing: border-box;
}

body,
#root {
    align-items: center;
    background-color: #34495e;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 80vh;
    overflow: hidden;
}

h1 {
    margin: 20px 0 0;
}

.game-container {
    height: 350px;
    margin: auto;
    padding: 20px 30px;
    position: relative;
    width: 450px;
}

.figure-container {
    fill: transparent;
    stroke: #fff;
    stroke-linecap: round;
    stroke-width: 4px;
}

.wrong-letters-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 20px;
    text-align: right;
    top: 20px;
}

.wrong-letters-container p {
    margin: 0 0 5px;
}

.wrong-letters-container span {
    font-size: 24px;
}
